html {
	-webkit-font-smoothing: antialiased;
}
body {
	font-family: 'Lato', sans-serif;
}
.navbar-brand {
	font-weight: bold;
}

.list-item-ok {
	color: #468847;
}

.list-item-failure {
	color: #b94a48;
}

.feature-success {
	background: #dff0d8;
	color: #468847;
}

.feature-failure {
	background: #f2dede;
	color: #b94a48;
}

#runner-features {
	line-height: 28px;
}

#runner-features li {
	margin: 5px 0 5px 0;
	padding: 5px 10px 5px 10px;
}

#runner-features i {
	margin-right: 10px;
}

#runner-features pre {
	font-size: 11px;
	tab-size: 2;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	overflow: auto;
	margin-bottom: 10px;
}
