<div class="row">
	<div id="runner-info" class="col-md-12"></div>
</div>
<div class="row">
	<div class="col-md-12">
		<% if (features.length) { %>
		<div id="runner-tests">
			<div class="panel panel-default">
				<div class="panel-heading">
					<% if (runner) { %>
					<h3 class="panel-title"><%= runner.name %></h3>
					<% } %>
				</div>
				<div class="panel-body feature">
					<ul class="list-unstyled" id="runner-features">
						<% _.each(features, function(feature) { %>
						<li class="<%= feature.status === 'success' ? 'feature-success' : 'feature-failure' %>">
							<i class="icon-<%= feature.status === 'success' ? 'ok' : 'remove' %>"></i>  <%= feature.description %>
							<% if (feature.status === 'failure' && feature.reasons) { %>
								<% _.each(feature.reasons, function(reason, index) { %>
									<h5>Reason #<%= index + 1 %></h5>
									<pre class="runner-failure-reason">
									<%= reason %>
									</pre>
								<% }); %>
							<% } %>
						</li>
						<% }); %>
					</ul>
				</div>
			</div>
		</div>
		<% } %>
	</div>
</div>
