<div id="settings">
	<div class="panel panel-default">
			<div class="panel-heading">
			<h3 class="panel-title">Flush Database</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-10">
  					<p>
  						<strong>
  						Once you flush your local database, there is no going back.
  						Please be certain.
  						</strong><br>
  						This action will permanently delete all
  						your tests history and reset all statistics.
  					</p>
  				</div>
  				<div class="col-md-2 text-center">
					<button type="button" class="btn btn-danger">Flush</button>
				</div>
			</div>
			</div>
	</div>
</div>
